/*查询有人表白显示的界面*/
.findnew{
	width: 80%;
	margin:auto;
	background: #fff;
	z-index: 999;
	top: 10%;
	left: 10%;
	display: none;
}
.findnew input{
	position: absolute;
	top: 0;
	right: 0;
	background: #A87EA6;
	color: #fff;
	height: 20px;
	width: 20px;
	border:none;
}
.findli{
	border: 1px #000 solid;
	background: pink;
}