/*最上面的*/
.topbg{
	position: relative;
	width: 100%;
	min-height: 400px;
	max-height: 960px;
	max-width:640px;
	min-width: 300px;
}
.topbg img{
	width: 100%;
}
.top_bg{
	background: #000;
	opacity: 0.2;
	width: 80%;
	height: 87%;
	z-index: 1;
	position: absolute;
	top: 5%;
	left: 10%;
}
.topbg .top_text{
	position: absolute;
	z-index: 9;
	color: #fff;
	display: block;
}
.top_520{
	top: 8%;
	left: 50%;
	margin-left: -62px;
	width: 124px;
	line-height: 80px;
	font-size: 70px;
}
.top_love1{
	top: 28%;
	font-size: 28px;
	left: 50%;
	margin-left: -70px;
}
.top_love2{
	top: 36%;
	font-size: 28px;
	left: 50%;
	margin-left: -70px;	
}
.top_love3{
	top: 45%;
	font-size: 20px;
	width: 20px;
	left: 50%;
	line-height: 1em;
	margin-left: -10px;
	text-align: right;
}
.top_love3 img{
	width: 110%;
	margin-left: -5%;
}
/*content*/
/*heart text*/
.heart{
	width: 100%;
}
.hearttext {
	width: 100%;
	margin-top: 50px;
}
.hearttext img{
	width: 100%;
}
.top_border{
	text-align: right;
	margin: 20px 0px 5px 0px;
}
.top_border .line_right{
	width: 13%;
}
.bottom_border{
	text-align: left;
	margin: 20px 0px 20px 0px;
}
.bottom_border .line_left{
	width: 23%;
}
/*今天，你表白了吗？*/
.today{
	font-size: 23px;
	color: #4B0202;
}
.today_text{
	width: 190px;
	margin: auto;
}
.today_text1{
	display: block;
}
.today_text2{
	display: block;
	margin-left: 45px;
}
.bottom_border .line_left2{
	width: 55%;
}
/*数字*/
.number1{
	width: 100%;

}
.text{
	width: 200px;
	margin: auto;
	font-size: 23px;
	color: #4B0202;
	margin-bottom: 40px;
}
.text .line_dot2{
	margin-left: -30px;
}
.text_1{
	display: inline-block;
	width: 90%;
	margin-left: 10px;
}
.text_2{
	display: inline-block;
	font-size: 100px;
	line-height: 110px;
	color: red;
}
.text_3{
	display: inline-block;
}
.text_4{
	display: block;
}
.text_red{
	color: #DB5D5E;
}
.text_purple{
	color: #A87EA6;
}
/*button*/
.button_block{
	display: block;
	width: 90%;
	margin: 0 auto;
	font-size: 20px;
	height: 40px;
	margin-bottom: 8px;
	cursor: pointer;
}
.button1{
	background: #DB5D5E;
}
.button2{
	background: #A87EA6;
	margin-bottom: 45px;
}
.button_inline{
	display: inline-block;
	width: 50%;
	height: 55px;
	font-size: 25px;
}
.button3{
	background: #DB5D5E;
	float: left;
}
.button4{
	background: #A87EA6;
	float: right;
}
/*表白显示表格*/
.mes_ul{
	width: 100%;
	margin: 0;
	padding: 0;
}
.mes_li{
	height: 170px;
	border-bottom: #A87EA6 2px solid;
	width: 100%;
	position: relative;
	overflow-y:scroll;
	overflow-x:hidden;  
}
.mes_li4{
	border-bottom: none;
}
.mes_li4 input{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 25px;
	font-size: 25px;
	text-decoration: none;
	color: #A87EA6;
	background: none;
	border: none;
	cursor: pointer;
}
.tri{
	border-left: 30px solid #A87EA6;
	border-bottom: 30px solid transparent;
	border-top: 30px solid #A87EA6;
	border-right: 30px solid transparent;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tri_number{
	position: absolute;
	top: 3px;
	left: 3px;
	color: #fff;
	z-index: 1;
	width: 40px;
	text-align: center;
}
.mes_text{
	display: block;
	width: 70%;
	margin: auto;
	padding:40px 0px 10px 30px; 
}
.agree{
	display: block;
	text-decoration: none;
	cursor: pointer;
	height: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 15px;
	padding-right: 30px;
	color: #D65656;
	margin-top: 20px;
}
.agree img{
	height: 20px;
	width: 25px;
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
}
.agree span{
	display: inline-block;
	font-size: 18px;
	vertical-align: top;
	line-height: 20px
}
/*我要表白界面*/
.biaobai{
	width: 70%;
	margin-left: 10%;
	display: none;
	position: fixed;
	top: 50%;
	height: 120px;
	margin-top: -75px;
	background: #FBD5DA;
	border: 3px solid #DB5D6F;
	z-index: 999;
}
.biaobai span{
	display: block;
}
.biaobai input{
	background: #fff;
	border: 2px solid #DCDCDC;
	color: #C2C2C2;
}
.bb_tel{
	display: block;
	width: 73%;
	margin-left: 7%;
	margin-top:47px;
	height: 26px;
	padding-left: 5px;
}
#cx{
	background: none;
	border: none;
	float: right;
	position: absolute;
	right: 12px;
	font-size: 10px;
	top: 50px;
	color: #fff;
	z-index: 9999;
}
.biaobai img{
	position: absolute;
	width: 35px;
	height: 32px;
	top: 45px;
	right: 8px;
}
#fh{
	position: absolute;
	background: #DB5D5E;
	color: #fff;
	font-size: 10px;
	text-align: center;
	border: 0px;
	top:0;
	right: 0;
	height: 15px;width: 15px;
}

/*查询有人表白显示的界面*/
.findnew{
	position: fixed;
	width: 80%;
	height: 80%;
	overflow-y:scroll;
	overflow-x:hidden;  
	margin:auto;
	background: #fff;
	z-index: 999;
	top: 10%;
	left: 10%;
	display: none;
}
.findnew .findbut{
	float: left;
	color: #fff;
	border:none;
	width: 49.9%;
	height: 30px;
	margin-top: 10px;
}
.findbut1{
	background: #EB5B98;
}
.findbut2{
	background: #A87EA6;
}
.findbut3{
	width: 100%;
	background: none;
	text-align: center;
	border: none;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #8B8B8B;
}
.findul{
	height: 120px;
	width: 100%;
	max-width: 450px;
	overflow-y: hidden;
	margin: auto;
	border-top: 2px #DEDBDC solid;
	border-bottom: 2px #DEDBDC solid;
}
.findli{
	height: 103px;
	border-bottom: 2px #DEDBDC solid;
	background: transparent;
	text-align: center;
	position: relative;
	padding-top: 25px;
	overflow-y:scroll;
	overflow-x:hidden;  
}
.haveimg{
	display: block;
	width: 100%;
	height: 40%;
	margin: auto;
	max-width: 400px;
}
.findtext{
	text-align: center;
	font-size: 24px;
}
.findtext1{
	margin-top: 30px;
	display: block;
	width: 100%;
}
.findtext2{
	display: inline-block;
	font-size: 50px;
	width: 49%;
	text-align: right;
	color: #D65088;
}
.findtext3{
	display: inline-block;
	width: 50%;
	text-align: left;
	margin-bottom: 25px;
}
#findlove{
	color: #8B8B8B;
	font-size: 12px;
}
#findtime{
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 9999;
	font-size: 10px;
	color: #CBCBCB;
}
.findposition{
	position: absolute;
	bottom: 5px;
	right:10px;
	font-size: 15px; 
}
.findposition2{
	position: absolute;
	top: 5px;
	left:10px;
	font-size: 15px; 
}
.findfrom{
	color:#D65088; 
}
.p123{
	bottom: 10px;
	width: 100%;
	font-size: 12px;
	text-align: center;
}